
.class1 {
    width: 240px;
    padding: 5px;
    text-align: center;
    background-color: rgb(61, 54, 54);
}

form {
    padding: 20px;
}

h3 {
    color: rgb(175, 170, 170);
    font-size: 20px;
    text-align: center;
}
/* Inpur */
.class2 {
    padding: 5px;
    margin: 6px;
    text-align: left;
    background-color: transparent;
    border:1px solid rgb(116, 115, 115) ;
    border-radius: 4px;
}
/* Button */
.class3 {
    padding: 5px;
    margin: 6px;
    text-align: center;
    background-color: rgb(28, 153, 28);
    border: 1px solid green;
    width: 167px;
}