body {
    background-color: rgb(124, 142, 223);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

tbody {
    background-color: white;
}

table {
    width: 50%;
    margin: auto;
    text-align: center;  
}

.class1 {
    background-color: rgb(53, 53, 71);
    color: white;
    padding: 10px 40px;
}

.class2 {
    background-color: rgb(68, 196, 121);
    color: white;
    padding: 10px 40px;
}

td {
    padding: 10px 80px;
}